
<div class="update">

    <div class="Form1">
            
        <form id="stiloFormAdmin" action="" class="oculto">    
            <div>
             <input type="number"  name="Max"  id="Max"    placeholder="Cantidad A vender" [(ngModel)]="Max"> 
            </div>
            <div>  
             <input type="text"  name="Cotizacion"  id="Importe"  placeholder="Precio del dia" (input)="CostoUnit();CalTotal()" [(ngModel)]="Cotizacion">    
            </div>
               <div >
                
                <button type="submit" class="btn btn-primary" (click)="CalculoResul()"  >Calcular Porcentaje de variacion</button>
                
             
                    <button type="submit" class="btn btn-primary"  (click)="UpdateInfo()"> vender</button> 
              
                    <button type="submit" class="btn btn-primary"  (click)="EliminaInfo() "   [routerLink]="'/administracion'">Borrar</button>
                    <button type="submit" class="btn btn-primary"  [routerLink]="'/administracion'" > volver</button>
                </div> 
            
       </form>



        
        



                <div>
                    <form id="stiloFormAdmin" action="" class="oculto">    
                        <input type="text" name="Fecha" id="Fecha" class="Inputform1" placeholder="Fecha 00/00/0000" [(ngModel)]="Fecha">
                                    
                        <input type="text" name="Detalle" id="Detalle" class="Inputform1"  placeholder="Especie o producto" [(ngModel)]="Detalle">
                        
                        <input type="number"  name="Cantidad"  id="Cantidad"   class="Inputform1" placeholder="Cantidad" [(ngModel)]="Cantidad">
                    
                        
                        <input type="number"name="Importe"  id="Importe" class="Inputform1" placeholder="Importe" [(ngModel)]="Importe">


                            <textarea type="text"  name="DetallesCosto" id="DetallesCosto"   class="Inputform1" placeholder="Detalle del Costo" [(ngModel)]="DetallesCosto">
                                
                            </textarea>

                                <div class="Boton-Borrar">
                                        <button type="submit" class="btn btn-primary"  (click)="Modificar()"> Modificar datos</button> 
                                </div>
            
                    </form>
    
             
                </div>
        </div>       
  </div>


        




<div    class="DivTabla">
                
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Fecha</th>
                    <th scope="col">Especie o producto</th>
                    <th scope="col">Cantidad</th>                  
                    <th scope="col"> Costo total acumulado  </th>               

                <th scope="col"> Costo Unitario ponderado </th>
                    
                    <th scope="col"> Porcentaje de variacion</th>
                    <th scope="col"> Resultado Acumulado</th>
                    
                </tr>
                </thead>
                
                <tbody>
                <tr *ngIf="Cantidad>0">

                    <td>  {{Fecha }} </td>
                    
                    <td>   {{Detalle}}    </td>
                    
                    <td> {{Cantidad}}   </td>      

                    <td name="CostoUnit"  >   {{   CostoTotalacum |currency}}   </td>      
                
                    <td    type="number"    scope="col">  {{ costoUnit |currency}}  </td>
                
                    <td  scope="col"    [(ngModel)]="result" > {{ result | percent  }}   </td>    
                    
                    <td> {{Total |currency}} </td>   
            </tr>    
            
                </tbody>
            </table>   
        
   </div>
  
            <div>
        
                <h3 class="subtitulo"> recuerde el precio de compra contiene Costos </h3>
                
                
                <p name="DetallesCosto" > {{DetallesCosto}}  </p>      
                
             </div>
            

