.Contenedor-Resumen{

  padding-left: 28%;    
  padding-top: 15%;
  
}


thead,tbody{
  display: block;

}

  
  tbody {
    box-sizing: content-box;
  
    height: 50vh;
   
    background: rgba(255, 255, 255, 0.29);
    border: 3px solid #000000;
    box-shadow: -10px 15px 5px 3px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    overflow: auto;
  }



  tbody,td,th {

  width: 65vw;
  min-width: 40px;
  min-height: 40px;
  text-align: center;

}


.ingcotizacion {
margin-right: 20px;
}






--------------------------------------------------------------------------------------------------------------------------------------

.Btn{
  flex-direction: column;
}

.Input-ppp {
  padding: 12px;

}

button {
  color: white;
  background-color: #0d6efd;
  border-color: #00000000;
  border-radius: 5px;
  text-align: center;
  height: 37.6px;
  width: 200px;
}

.Btn-resumen{
margin: 12px;
}

.input{
  width: 12vh;

}
