.Contenedor-Resumen{
    display: flex;
    flex-direction: column;    
    
}

tbody {
    box-sizing: content-box;

   
position: absolute;
width: 160vh;
height: 60vh;

background: rgba(255, 255, 255, 0.29);
border: 3px solid #000000;
box-shadow: -10px 15px 5px 3px rgba(0, 0, 0, 0.25);
border-radius: 30px;
overflow: auto;


}

tr {
    position: relative;
 width: 160vw;
}

td, th {
    padding: 10px;
    height: 20px;
    width: 140vh
}

.Btn{
    flex-direction: column;
}

.Input-ppp {
    padding: 12px;

}

button {
    color: white;
    background-color: #0d6efd;
    border-color: #00000000;
    border-radius: 5px;
    text-align: center;
    height: 37.6px;
    width: 200px;
}

.Btn-resumen{
margin: 12px;
}

