
<div class="Contenedor-Resumen">
  <div class="Btn">

    <div class="Btn-resumen" >

      <input type="text" class="form-control" name="firTerInfo" placeholder="Buscar..."  >
      
    
    </div>

    <div class="Input-ppp">

      <!-- <button (click)="CalculoResut(Total,Cotizacion)"  > Calculo Costo Total </button> -->
      <button   class="btn btn-primary"  > Calculo Costo total</button>
     
    </div>
    
  </div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">Especie</th>
        <th scope="col">Cantidad</th>
        
        <th scope="col">Precio</th>
        <th scope="col">Comision</th>
        <th scope="col">Precio Con Comision</th>
        <th scope="col">Cotizacion</th>
        <th scope="col"> Costo Total</th>
        <th scope="col">P P P</th>
      
        <th scope="col"> Resultado</th>
    </tr>
    </thead>
    
    <tbody>
      <tr *ngFor="let InfoContable of InfoContable ">
        <td>  {{InfoContable.Fecha }} </td>
        <td>   {{InfoContable.Detalle}}    </td>
        <td> {{InfoContable.Cantidad}}   </td>
        <td>  {{InfoContable.Importe}}   </td>
        <td> {{InfoContable.Comision}}   </td>  
        <td>{{ InfoContable.Importe      +     InfoContable.Importe *  InfoContable.Comision/100 }}</td>   
        <td >    <input class="input" type="number" name="Cotizacion" id="Cotizacion" placeholder="Ingresar Contizacion" [ngModel]="Cotizacion" >     </td>
     
        <td   name="Total"  type="number"   scope="col">Valor del Costo Total  {{Total}}  </td>
     
        <td name="ppp"  > ppp {{ppp}} </td>
      
        <td  name="Resultado" scope="col"  > {{resultado }}  </td> 
    </tr>    
    </tbody>
</table>
</div>