

.card {
  left: 0.5vw;
  background-color: transparent;
  margin-top: 10vh;
  text-align: center;
  border-radius: 30px;
  border-width: 3px;
  box-shadow: -5px 5px 5px 3px rgba(0, 0, 0, 0.25);

}

.titulo-home {
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 2vw;
  margin-right: 2vw;
  font-size: 16px;
}

.body-home-dialogo1 {
  margin: 50px;
  padding: 10px;
  background-color: rgba(159, 159, 159, 0.703);
  border-radius: 60px;
}

input {
  background-color: transparent;
  border: transparent;
  text-align: center;
  outline: none;
  
  font-style: italic;

}

::placeholder { color: rgba(0, 0, 0, 0.559); }

.body-home-dialogo2 {
  margin: 50px;
  padding: 10px;
  background-color: rgba(159, 159, 159, 0.703);
  border-radius: 60px;
}

.body-home-login {

  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 30vw;
  margin-right: 30vw;
  padding: 10px;
  background-color: rgba(100, 100, 255, 0.744);
  border-radius: 60px;

}

button {
  background-color: transparent;
  border-color: transparent;
  text-align: center;
  
  font-style: italic;
  color: white;

}



			/*Diseï¿½o Desk*/
      @media only screen and (min-width: 600px) {

.card {
    left: 50%;
    background-color: transparent;
    margin-top: 10%;
    text-align: center;
    border-radius: 60px;
    border-width: 3px;
    box-shadow: -10px 15px 5px 3px rgba(0, 0, 0, 0.25);
  
  }
  
  .titulo-home {
    margin: 40px;
  }
  
  .body-home-dialogo1 {
    margin: 50px;
    padding: 10px;
    background-color: rgba(159, 159, 159, 0.703);
    border-radius: 60px;
  }

  input {
    background-color: transparent;
    border: transparent;
    text-align: center;
    outline: none;
    
    font-style: italic;

  }
  
  ::placeholder { color: rgba(0, 0, 0, 0.559); }

  .body-home-dialogo2 {
    margin: 50px;
    padding: 10px;
    background-color: rgba(159, 159, 159, 0.703);
    border-radius: 60px;
  }
  
  .body-home-login {
  
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 300px;
    margin-right: 300px;
    padding: 10px;
    background-color: rgba(100, 100, 255, 0.744);
    border-radius: 60px;

    
  }
  
  button {
    background-color: transparent;
    border-color: transparent;
    text-align: center;
    
    font-style: italic;
    color: white;

  }

      }