
.car-header {
    text-align: center;
    box-sizing: content-box;

    position: relative;
    width: 1567px;
    height: 48px;
    
    background: rgba(255, 255, 255, 0.29);
    border: 3px solid #000000;
    box-shadow: -10px 15px 5px 3px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    
  
}

thead th:nth-child(1) {
    width: 30%;
  }
  
  thead th:nth-child(2) {
    width: 20%;
  }
  
  thead th:nth-child(3) {
    width: 15%;
  }
  
  thead th:nth-child(4) {
    width: 35%;
  }
  
  th, td {
    padding: 20px;
  }

  tbody {
    box-sizing: content-box;
  
  position: relative;
  width: 1567px;
  height: 764px;
  
  background: rgba(255, 255, 255, 0.29);
  border: 3px solid #000000;
  box-shadow: -10px 15px 5px 3px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  }

