

.car-header {
  text-align: center;
  box-sizing: content-box;

  position: relative;
  width: 1567px;
  height: 48px;
  
  background: rgba(255, 255, 255, 0.29);
  border: 3px solid #000000;
  box-shadow: -10px 15px 5px 3px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  

}


thead,tbody{
  display: block;
  }


  thead {
    width: 200%;
    text-align: center;
  }
  
  
  tbody {
    box-sizing: content-box;
  
    width: 200%;
    height: 40vh;
    text-align: center;
  
  
    background: rgba(255, 255, 255, 0.29);
    border: 3px solid #000000;
    box-shadow: -10px 15px 5px 3px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    overflow: auto;
  }
  
th {
  width: 8.5%;
}




td {
  padding: 10px;
  height: 20px;
  width: 15.68%;

  text-align: center;

}




.ContenedorDatosAdmin{

display: flex;
flex-direction: column;
margin-left: 25vh;
margin-top: -50px;
margin-bottom: 1px;
}



.ContenedorFormAdmin{
margin-top: 15%;
margin-left: 12px;
margin-right: 55%;
margin-bottom: 5%;
padding: 12px;

box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.Inputform1 {
font-style: italic;
color: black;
font-family: 'Times New Roman', Times, serif;
font-weight: bold;
}



.boton-guardar {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  margin-right: 60%;
  margin-bottom: 1vh;
  
 
}

input{
  width: 20vh;
}

select{
  width: 20vh;
}

