
<div class="ContenedorDatosAdmin">
    <div   class="ContenedorFormAdmin" >
            <div class="Form1">
                    
                    <form id="stiloFormAdmin" action="" class="oculto" >
                            
                                <input type="text" name="Fecha" id="Fecha" class="Inputform1" placeholder="Fecha 00/00/0000" [(ngModel)]="Fecha">
                                
                                <input type="text" name="Detalle" id="Detalle" class="Inputform1"  placeholder="Especie o producto" [(ngModel)]="Detalle">
                                
                                <input type="number"  name="Cantidad"  id="Cantidad"   class="Inputform1" placeholder="Cantidad" [(ngModel)]="Cantidad">
                            
                                
                                <input type="number"name="Importe"  id="Importe" class="Inputform1" placeholder="Importe" [(ngModel)]="Importe">


                                <textarea type="text"  name="DetallesCosto" id="DetallesCosto"   class="Inputform1" placeholder="Detalle del Costo" [(ngModel)]="DetallesCosto">
                                    
                                </textarea>

                            <div class="boton-guardar" >
                                <button type="submit" class="btn btn-primary" (click)="addInfo()" >  Comprar</button>
                            </div>
                            
                    </form>
                </div>
        </div>
                      
        <div class="ContenedorTabla">    

                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Fecha </th>

                        <th scope="col">Especie</th>
                        
                        <th scope="col">Cantidad</th>
                    
                        <th scope="col">Costo Acum</th>
                                            
                    </tr>
                    </thead>
                    
                    <tbody>
                    <tr *ngFor="let InfoContable of Infocontable; let  i  = index">
                        <a class="btn btn-warning"    [routerLink]="['/Update', i]">
                             <td>{{InfoContable.Fecha}} </td>
                        <td>   {{InfoContable.Detalle}}    </td>
                        <td> {{InfoContable.Cantidad}}   </td>                      
                        <td>  {{InfoContable.CostoTotalacum|currency}}   </td>
                    </a> 
                    </tr>
                    </tbody>
                </table>

          </div>  
   
</div>            

