<div class="container">
    <div class="col">

        <form action="" class="form-group row"   >
            <div class="input-group col-mb-3">
                <input type="text" class="" placeholder="Fecha" [(ngModel)]="Fecha">
                
                <input type="text"  placeholder="Especie" [(ngModel)]="Detalle">
                
                <input type="text"  placeholder="Cantidad" [(ngModel)]="Cantidad">
                
                <input type="text"  placeholder="Comision" [(ngModel)]="Comision">

                <input type="text" name="" placeholder="Importe" [(ngModel)]="Importe">
                
                <input type="text" name="" placeholder="Tipo_Especie" [(ngModel)]="id_categorias">
               
            </div>

            <div class="col">
                <button type="submit" class="btn btn-primary" (click)="addInfo()" >  Guardar</button>
            </div>
        </form>
          
    </div>
</div>
    <div class="container">
        <div class="card">
            <div class="car-header">
                <h3>Info Contable</h3>
            </div>
            <div class="card-body">
                <table class="table-hover">
                    <thead>
                        <tr>
                          <th scope="col">Fecha</th>
                          <th scope="col">Especie</th>
                          
                          <th scope="col">Cantidad</th>
                          <th scope="col">Comision</th>
                        
                          <th scope="col">Precio</th>
                        
                          <th scope="col">Tipo especie</th>
                        </tr>
                      </thead>
                      <tbody *ngFor="let Infocontable of Infocontable ">
                        <tr>
                          <td class="Renglon" >  {{Infocontable.Fecha |date }} </td>

                          <td class="Renglon" >   {{Infocontable.Detalle}}    </td>
                          
                          <td class="Renglon" scope="col">{{Infocontable.Cantidad}}</td>
 
                          <td class="Renglon" scope="col">   {{Infocontable.Comision}}            </td>

                          <td class="Renglon">  {{Infocontable.Importe |currency}}   </td>
                          <td class="Renglon">  {{Infocontable.id_categorias }}   </td>
                          
                          <td >
                            <button class="btn btn-warning">editar</button>
                            
                            <button class="btn btn-warning">borrar</button>
                        </td>
                        </tr>
                 
                    </tbody>    
                 </table>
            </div>
        </div>
    </div>


     