
nav {
    background-color: black;
}

footer {
    position: absolute;
    width: 127px;
height: 15px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 15px;

display: flex;
align-items: center;
text-align: center;

color: #ffffff;
}

nav{
    background-color: black;
}

