<p>home works!</p>

<div class="container">
    <div class="card">
        <div class="car-header">
            <h3>Info Contable</h3>
        </div>
        <div class="card-body">
            <table class="table-hover">
                <thead>
                    <tr>
                      <th scope="col">Fecha</th>
                      <th scope="col">Detalle</th>
                      <th scope="col">Precio</th>
                    </tr>
                  </thead>
            <tbody>
                <tr *ngFor="let InfoContable of InfoContable">
                <td>
                   {{InfoContable.Fecha | date}}

                </td>
                
                <td>
                    {{InfoContable.Detalle}}
                 </td>
                 
                <td>
                    {{InfoContable.Importe | currency}}
                 </td>
                </tr>
                </tbody>
             </table>
        </div>
    </div>
</div>